<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="Tabby.Client.Logger.ILogger, Tabby.Client"></alias>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <container name="Core">
        <register type="Tabby.Client.Logger.ILogger, Tabby.Client"
                  mapTo="Tabby.Client.Logger.NLogLogger, Tabby.Client" >
            <lifetime type="singleton"></lifetime>
        </register>
    </container>
</unity>